html {
	background-color: #000000;
	font-size: 20px;
	line-height: 1.5;
}

body {
  margin-inline: auto;
  max-width: 140ch;
}

nav {
	text-align: center;
	text-color: #FFFFFF;
}

img {
	max-width: 100%;
}

nav img {
	vertical-align: middle;
	margin-inline: auto;
}

nav a img {
	vertical-align: middle;
	margin-inline: auto;
}

a {
	color: #FFFFFF;
    text-decoration: none;
}

h1 {
	color: #FFFFFF;
}
p {
	color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin-block: 0 1rem;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.play-on-hover {
	width: 40vw;
	height: 40vh;
	margin-inline: auto;
	background: no-repeat center/100% url("../images/frame_2_delay-0.2s.gif");
	padding-top: 50%;
}

.play-on-hover:hover {
	background-image: url("../images/heartanimated.gif");
}

.padded {
	padding-left: 2em;
	padding-right: 2em;
}

ul {
	list-style-type: none;
}
