html {
	background-color: #000000;
	font-size: 20px;
	line-height: 1.5;
}

body {
  margin-inline: auto;
  max-width: 140ch;
}

article {
	margin: 0;
	padding: 5px;
	outline: 1px solid white;
}

article h2 {
	padding-left: 10px;
}

article p {
	padding-left: 10px;
}

nav {
	text-align: center;
	text-color: #FFFFFF;
}

img {
	max-width: 100%;
}

nav img {
	vertical-align: middle;
	margin-inline: auto;
}

nav a img {
	vertical-align: middle;
	margin-inline: auto;
}

a {
	color: #FFFFFF;
    text-decoration: none;
}

h1 {
	color: #FFFFFF;
}

p {
	color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin-block: 0 1rem;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.play-on-hover {
	width: 50vw;
	height: 50vh;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: no-repeat center/100% url("../images/frame_2_delay-0.2s.gif");
	padding-top: 50%;
}

.play-on-hover:hover {
	background-image: url("../images/heartanimated.gif");
}

.padded {
	padding-left: 2em;
	padding-right: 2em;
}

.dropdown .submenu {
    display:none;
    list-style-type: none;
}

.dropdown:hover .submenu {
    display: block;
    list-style-type: none;
}

ul {
	list-style-type: none;
}

footer p {
	text-align: center;
	font-size: 10px;
}

#badges {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

#badges img {
  height: 31px;
  width: 88px;
  vertical-align: middle;
}
@media (max-width: 768px) { /* or some other size you prefer */
  div.row {
	flex-direction: column;
  }
}