:root {
	background-color: #46444f;
	color: #ededed;
	font-family: sans-serif;
	box-sizing: border-box;
}

a {
	color :#ededed;
}

body {
	margin: 0;
}

#splash-page {
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	height: 100vh;
}

#splash {
	width: 50vw;
	max-width: 512px;
	height: auto;
	background-image: url("/images/dani-logo-white.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-inline: auto;
	margin-block: 2em;
	filter: drop-shadow(4px 4px 4px #000);
}

#splash:hover, #splash:focus {
	max-width: 700px;
	background-image: url("/images/heartanimated.gif");
}

#pages {
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	display: flex;
}

#pages > a {
	padding: 1em;
}